/*
body {
    color: #eee;
    background: #242424;
}
*/

.container {
    width: 960px;
    margin: 0 auto;
}

.jumbotron {
    padding: 100px;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5;
    color: #222;
    background-color: #eee;
    border-radius: 13px;
    font-family: "Helvetica Neue Ultra Light", "Helvetica Neue", "Arial Narrow", "Arial", sans-serif;
}

h1 {
    line-height: 1;
}

p {
    line-height: 1.4;
}

button {
    background: #eee;
    padding: 10px 20px;
}

.buySellHeader {
    font-weight: bold;
}

.footer {
    font-family: sans-serif;
    font-size: smaller;
}

.netPositive {
    color: black;
}

.netNegative {
    color: red;
}