<template name="buysell">


    <div class="row">
            <div class="col-md-5">

            <h3>{{teamName}}</h3>
            </div>
        </div>


        <div class="row">
            <div class="alert alert-success col-md-2" role="alert">
                Cash:  {{teamCash}}
            </div>
            <div class="col-md-1"></div>

            <div class="alert alert-danger col-md-2" role="alert">
                Debt:  {{teamDebt}}
            </div>
        </div>


        <div class="row">
            <div class="col-md-1 buySellHeader">Name</div>
            <div class="col-md-1 buySellHeader">Schedule</div>
            <div class="col-md-2 buySellHeader">Inventory</div>
            <div class="col-md-2 buySellHeader">Pharmacy Price</div>
            <div class="col-md-2 buySellHeader">Risk of Arrest Buying</div>
            <div class="col-md-1 buySellHeader"></div>
            <div class="col-md-1 buySellHeader">Street Price</div>
            <div class="col-md-2 buySellHeader">Risk of Arrest Selling</div>
            <hr>
        </div>
        <div class="row">&nbsp;</div>
        {{#each drugs}}
            <div class="row">
                <div class="col-md-1">{{name}}</div>
                <div class="col-md-1">{{schedule}}</div>
                <div class="col-md-2">{{inventory}}</div>
                <div class="col-md-2">{{dollarFormat awp}}</div>
                <div class="col-md-1"><span id="calculatedBuyRisk_{{drug_id}}">{{buyRisk}}%</span></div>
                <div class="col-md-1">
                    <form id="{{drug_id}}" name="{{drug_id}}" class="form-inline buyForm">
                        <input type="text" style="width:50px" name="buyQuantity" id="buyQuantity_{{drug_id}}"
                               class="buyQuantityInput">
                        <input type="hidden" value="{{drug_id}}" name="drug_id" id="drug_id">
                        <input type="hidden" value="{{awp}}" name="buyPrice" id="buyPrice">
                        <input type="hidden" value="{{buyRisk}}" name="buyRisk" id="buyRisk_{{drug_id}}">
                        <button type="submit" class="btn btn-primary  btn-xs buyButton">Buy</button>
                    </form>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1">{{dollarFormat price}}</div>
                <div class="col-md-1">{{sellRisk}}%</div>
                <div class="col-md-1">
                    <form id="form_{{name}}" name="form_{{name}}" class="form-inline sellForm">
                        <input type="text" style="width:50px" name="sellQuantity" id="sellQuantity">
                        <input type="hidden" value="{{drug_id}}" name="drug_id" id="drug_id">
                        <input type="hidden" value="{{price}}" name="sellPrice" id="sellPrice">
                        <input type="hidden" value="{{inventory}}" name="inventory" id="inventory">
                        <input type="hidden" value="{{sellRisk}}" name="sellRisk" id="sellRisk_{{drug_id}}">
                        <button type="submit" class="btn btn-primary  btn-xs sellButton">Sell</button>
                    </form>
                </div>

            </div>
            <hr>
        {{/each}}



        <div class="row">
            <div class="col-md-5">
                <h4>Loan Shark</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <form class="form-inline" id="borrowForm">
                    <div class="form-group">
                        <label class="sr-only" for="borrowAmount">Amount (in dollars)</label>

                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="text" class="form-control" name="loanAmount" id="loanAmount"
                                   placeholder="Amount">

                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>
                    <button type="submit" id="borrowButton" class="btn btn-primary">Borrow</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                &nbsp;
            </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                <form class="form-inline" id="repayForm">
                    <div class="form-group">
                        <label class="sr-only" for="repayAmount">Amount (in dollars)</label>

                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="text" class="form-control" id="loanPayment" placeholder="Amount">

                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>
                    <button type="submit" id="repayButton" class="btn btn-primary">Repay</button>
                </form>
            </div>
            <div class="col-md-5">
                <button type="submit" id="repayAllButton" class="btn btn-primary form-inline">Repay All</button>
            </div>
        </div>
    <hr>


    <input type="hidden" value="{{updateTeamCash}}"/>
    <input type="hidden" value="{{updateTeamDebt}}"/>
    {{enterExit}}


</template>