<template name="buysell">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-5">
                <h3>{{teamName}}</h3>
            </div>
        </div>


        <div class="row">
            <div class="col-md-5">
                Cash:  {{teamCash}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                Debt:  {{teamDebt}}
            </div>
        </div>


        <div class="row">
            <div class="col-md-1">Name</div>
            <div class="col-md-1">Schedule</div>
            <div class="col-md-2">Inventory</div>
            <div class="col-md-1">Pharmacy Price</div>
            <div class="col-md-1">Risk of Arrest (Buying)</div>
            <div class="col-md-1">Buy</div>
            <div class="col-md-1"></div>
            <div class="col-md-1">Street Price</div>
            <div class="col-md-1">Risk of Arrest Selling</div>
            <div class="col-md-1">Sell</div>
        </div>
        {{#each drugs}}
            <div class="row">

                <div class="col-md-1">{{name}}</div>
                <div class="col-md-1">{{schedule}}</div>
                <div class="col-md-2">{{inventory}}</div>
                <div class="col-md-1">{{dollarFormat awp}}</div>
                <div class="col-md-1"><span id="calculatedBuyRisk"></span>%</div>
                <div class="col-md-1">
                    {{#autoForm collection="Transactions" id=makeUniqueID type="insert" validation="submit"  }}
                        {{> afFieldInput name='buyQuantity'  template="bootstrap3-inline"  style="width:50px"}}
                        {{> afFieldInput name="drug_id" value= this.drug_id type="hidden"}}
                        {{> afFieldInput name="buyPrice" value=this.awp type="hidden"}}
                        <button type="submit" class="btn btn-primary  btn-xs">Buy</button>
                    {{/autoForm}}
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1">{{dollarFormat price}}</div>
                <div class="col-md-1">{{sellRisk}}%</div>
                <div class="col-md-1">
                    {{#autoForm collection="Transactions" id=makeUniqueID type="insert"}}
                        {{> afFieldInput name='sellQuantity' template="bootstrap3-inline" style="width:50px"}}
                        {{> afFieldInput name="drug_id" value= this.drug_id type="hidden"}}
                        {{> afFieldInput name="sellPrice" value=this.price type="hidden"}}
                        <button type="submit" class="btn btn-primary  btn-xs">Sell</button>
                    {{/autoForm}}
                </div>

            </div>
        {{/each}}



        <div class="row">
            <div class="col-md-5">
                <h4>Loan Shark</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <form class="form-inline" id="borrowForm">
                    <div class="form-group">
                        <label class="sr-only" for="borrowAmount">Amount (in dollars)</label>

                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="text" class="form-control" name="loanAmount" id="borrowAmount"
                                   placeholder="Amount">

                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>
                    <button type="submit" id="borrowButton" class="btn btn-primary">Borrow</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                &nbsp;
            </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                <form class="form-inline" id="repayForm">
                    <div class="form-group">
                        <label class="sr-only" for="repayAmount">Amount (in dollars)</label>

                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="text" class="form-control" id="loanPayment" placeholder="Amount">

                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>
                    <button type="submit" id="repayButton" class="btn btn-primary">Repay</button>
                </form>
            </div>
            <div class="col-md-5">
                <button type="submit" id="repayAllButton" class="btn btn-primary form-inline">Repay All</button>
            </div>
        </div>
    </div>

</template>