<template name="drugs">
    <div class="container">
        {{#each drugs}}
            <div class="row">
                <div class="col-md-1">{{name}}</div>
                <div class="col-md-1">{{schedule}}</div>
                <div class="col-md-1">${{awp}}</div>
                <div class="col-md-1">{{buyRisk}}%</div>
                <div class="col-md-1">{{sellRisk}}%</div>
                <div class="col-md-1">{{demandMultiplier}}</div>
                <div class="col-md-1">{{active}}</div>
            </div>
        {{/each}}
    </div>
</template>