<head>
    <title>Prescription Wars</title>
    <link rel="icon"
          type="image/png"
          href="/icon.png"/>
</head>

<template name="layout">
    <body>
    {{> sAlert}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
            </div>

            <div class="col-md-2">
                {{> loginButtons}}
            </div>
        </div>

        {{#if currentUser}}
            {{> yield}}
        {{else}}
            <div class="faster">Prescription Wars</div>
        {{/if}}
    </div>

    {{#if currentUser}}
        <div class="row">
            <div class="col-md-4">
                {{> scoreboard}}
            </div>
            <div class="col-md-8">
                {{> highchartsHelper chartId="test" chartWidth="75%" charHeight="75%" chartObject=drugPriceTrends}}
            </div>
        </div>
    {{/if}}

    </body>
    <footer>
        {{> footer}}
    </footer>
</template>

