<template name="scoreboard">

    <div class="panel panel-info">
        <div class="row">
            <div class="col-md-4"><h4>Gang</h4></div>
            <div class="col-md-4"><h4>Net Profits</h4></div>
        </div>


        {{#each teamScores}}
            <div class="row">
                <div class="col-md-4">{{username}}</div>
                <div class="col-md-4 {{profitLoss teamNet}}">{{teamNetFormatted teamNet}}</div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary  btn-xs snitchButton" id="snitchButton_{{team_id}}">
                        Snitch
                    </button>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="row">
        <div class="col-md-12"><i>For $5,000, you can pay someone to snitch on one of the other teams. This will
            guarantee that they will be busted during their next transaction!</i>
        </div>
    </div>


</template>
