<template name="settings">

    <div class="row">
        <div class="col-md-4"><h2>Settings</h2></div>
    </div>


    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-default" id="startStopMarketButton">{{startStopMarketButton}}</button>
        </div>
        <div class="col-md-8">
            Starts/Stops market updates
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <p>&nbsp;</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-default" id="goDatabasePage">Database Page</button>
        </div>
        <div class="col-md-8">
            View the page where you can edit individual database items.
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>&nbsp;</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <p><h4>Scenarios</h4></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-info" id="increaseScheduleIIBuyRisk">Increase Schedule II Risk</button>
        </div>
        <div class="col-md-8">
            Each click increase risk of arrest (buying) by 5%.
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-info" id="decreaseScheduleIIBuyRisk">Decrease Schedule II Risk</button>
        </div>
        <div class="col-md-8">
            Each click decreases risk of arrest (buying) by 5%.
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-info" id="increaseScheduleIII_VBuyRisk">Increase Schedule III-V Risk
            </button>
        </div>
        <div class="col-md-8">
            Each click increase risk of arrest (buying) by 5%.
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-info" id="decreaseScheduleIII_VBuyRisk">Decrease Schedule III-V Risk
            </button>
        </div>
        <div class="col-md-8">
            Each click decreases risk of arrest (buying) by 5%.
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-info" id="increaseUnscheduledBuyRisk">Increase Unscheduled Risk
            </button>
        </div>
        <div class="col-md-8">
            Each click increase risk of arrest (buying) by 5%.
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-info" id="decreaseUnscheduledBuyRisk">Decrease Unscheduled Risk
            </button>
        </div>
        <div class="col-md-8">
            Each click decreases risk of arrest (buying) by 5%.
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-info" id="decriminalize">Decriminalization</button>
        </div>
        <div class="col-md-8">
            Sets demand of illicit drugs to near zero, as people can get them all legally.
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>&nbsp;</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <h4>Resets</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-danger" id="resetButton">Clear History</button>
        </div>
        <div class="col-md-8">
            Clears transactions and market history. Does not affect other player settings or drugs.
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <p>&nbsp;</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-danger" id="resetDrugsButton">Reset Drugs</button>
        </div>
        <div class="col-md-8">
            Clears any modifications to drug list and resets to the base six drugs that come with program. Also
            clears transaction and market histories. Does not affect player settings.
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <p>&nbsp;</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-danger" id="resetAllButton">Reset All</button>
        </div>
        <div class="col-md-8">
            Clears all players, drugs, transactions and market history. Only the admin account remains unaffected.
        </div>
    </div>


</template>
